@font-face {
    font-family: arizona ;
    src: url(./fonts/fonnts.com-ABCArizonaFlareVariable-Trial.ttf);
}


@keyframes scrolling {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-100%);
    }
}

@keyframes reload {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arizona;
   
}

html,body{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #FAFAFA;
    overflow-x: hidden;
}

#offer{
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 58%;
    text-align: center;
    padding: .5% 0;
    font-weight: 600;
    letter-spacing: .1px;
}

#nav{
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

#nav #logo h1{
    font-size: 4vh;
    font-weight: 400;
    letter-spacing: 0 ;
}


#nav-2{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#option1, #option2, #option3{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9vw;
    font-weight: 300;
}

#option1{
    width: 45%;
}

#option2{
    width: 10%;
    padding: 0 1%;
    font-size: 1vw;
}

#option3{
    width: 35%;
}

#option3 i{
    font-size: 1vw;
}

#option3 button{
    font-size: .9vw;
    padding: 5px 12px;
    margin-left: 15px;
    border: black solid 1px;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#option3 button:hover{
    background-color: white;
    color: black;
}

#scroll{
    height: 6vh;
    min-width: 100%;
    background-color: black;
    
}
#scroller{
    height: 100%;
    animation-name: scrolling;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform: translateX(0);
    display: flex;
    align-items: center;  
    animation-delay: .1s;
}
#scroll h5{
    font-size: 3vh;
    color: white;
    font-weight: 400;
    margin-right: 3%;
    white-space: nowrap;
    animation: reload .5s ease  1 forwards ;
}

#main{
    min-height: 150vh;
    width: 100vw;

}

#page1 #center{
    height: 144vh;
    width: 90vw;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    position: relative;
    margin-top: 5vw;
    margin-left: 5vw;
}

#page1 #center>h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.1vw;
    font-weight: 400;
    padding-top: 4vw;
}

#page1 #center .box{
    height: 26vmax;
    width: 27vmax;
    border-radius: 3px;
    overflow: hidden;
    position: relative; 
    cursor: pointer;
    display: inline-block;
    margin-left:2.35% ;
    margin-top: 4%;
}

#background{
    top: 50%;
    height: 50%;
    width: 100%;
    position: absolute;
   background: linear-gradient( transparent,rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.947));

}

#page1 #center .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease .3s;
    
}

.box h3{
    position: absolute;
    bottom: 5%;
    margin: 0 3%;
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
    text-transform: uppercase;  
    z-index: 2;

}

.box i{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 2vw;
    font-weight: 100;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    scale: .8;
    z-index: 2;
    transition: all ease .3s;

}

.box:hover img{

    scale: 1.09;

}


.box:hover i{

    scale: .9;

}

#page1 #center .rectangle{
    height: 26vmax;
    width: 85.5vmax;
    border-radius: 3px;
    overflow: hidden;
    position: relative; 
    cursor: pointer;
    display: inline-block;  
    margin-top: 2%;
    margin-left: 2.35%;
}


#page1 #center .rectangle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease .3s;
    
}

.rectangle h3{
    position: absolute;
    bottom: 5%;
    margin: 0 3%;
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
    text-transform: uppercase;  
    z-index: 2;

}

.rectangle i{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 2vw;
    font-weight: 100;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    scale: .8;
    z-index: 2;
    transition: all ease .3s;

}

.rectangle:hover img{

    scale: 1.09;

}


.rectangle:hover i{

    scale: .9;

}

#Features{
    height: 45vh;
    width: 100%;
    padding: 3vw 5vw;
    display: flex;

}

#Features .card{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2vh 3vh;
}

#Features .card img{
    height: 4vw;
    object-fit: cover;
}

#Features .card h4{
    font-size: 1.3vw;
    font-weight: 400;
    text-transform: uppercase;

}

#Features .card p{
    font-size: .8vw;
    text-align: center;
    color: #717782;
    font-weight: 500;
}

#Features .card:nth-child(2){
    border-left: 1px solid #E6E7E8;
    border-right: 1px solid #E6E7E8;

}

#achivements{
    height: 32vh;
    width: 90%;
    background-color: #171717;
    margin: 0 auto;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#achivements img{
    height: 10vh;
}

#page2{
    height: 150vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 7vh;
}

#page2 h2{
    font-size:4vh;
    font-weight: 400;
    text-transform: uppercase;
}

#page2>button{
    font-size: .8vw;
    padding: 12px 24px;
    border: black solid 1px;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#page2 button:hover{
    background-color: white;
    color: black;
}


#Gallery{
    height: 125vh;
    width: 94vw;
    padding-left: .66%;
}

.photo{
    height: 50%;
    width: 33%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: -3px -2px;
    border: none;
    outline: solid rgba(255, 255, 255, 0.418) 1px;
}

.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.photo #bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease .3s;
}

.photo #bg i{
    color: white;
    font-size: 2.5vh;
}
.photo:hover #bg{
    opacity: 1;
}

#join-mail{
    height: 15vh;
    width: 100vw;
    padding: 0 5vw;
    background-color: #F1F1F1;
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#join-mail h3{
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 500;
}

#join-mail p{
    font-size: .7vw;
    color:#797B82 ;
}

#join1,#join2{
    height: 40%;
    width: 50%;
}

#join2{
    text-align: right;
}

#join2 input{
    background: transparent;
    height: 5vh;
    width: 40%;
    border: 1px solid black;
    outline: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.6vh;
    color: black;
    font-weight: 600;
}

#join2 input::placeholder{
    font-size: 1.6vh;
    color: black;
    font-weight: 600;
}

#join2 button{
    font-size: .8vw;
    padding: 12px 24px;
    margin-left: 15px;
    border: black solid 1px;
    border-radius: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#join2 button:hover{
    background-color: white;
    color: black;
}

#footer{
    height: 50vh;
    width: 100%;
    background: black;
    display: flex;
}

#foot1{
    height: 100%;
    width: 20%;
    padding-left: 2%;
    padding-top: 2%;
    color: white;
}

#foot1 h1{
    font-size: 4vh;
    font-weight: 400;
}
#foot1 #social-media{
    height: 18px;
    width: 50%;
    margin-top: 2vh;

}

#foot1 #social-media i{
    font-size: 16px;
    color: white;
}

#foot1 p{
    font-size: .8vw;
    margin-top: 4vh;
    line-height: 13px;

}

#foot1 #payments{
    height: 3vh;
    width: 100%;
    margin-top: 4vh;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

#foot1 #payments img{
    height: 80%;
    width: 15%;
    background: white;
    padding: -2px;
    object-fit: cover;
    object-position: center;
    margin-right: 2px;
    border-radius: 2px;
}

#foot2{
    height: 100%;
    width: 45%;
    color: white;
    padding-left: 3vw;
    padding-top: 3vw;
    display: flex;
}

#foot2 .hyperlink{
    height: 100%;
    width: 33%;
}

#foot2 .hyperlink h3{   
    font-size: 1.4vh;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2vh;
}


#foot2 .hyperlink h5{   
    font-size: 1.6vh;
    margin-bottom: 1vh;
}

#foot3{
    height: 100%;
    width: 35%; 
    padding-top: 3vw;
    color: white;

}

#foot3 .hyperlink h3{   
    font-size: 1.4vh;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2vh;
}


#foot3 .hyperlink h5{   
    font-size: 1.6vh;
    margin-bottom: 1vh;
}

#foot3 img{
    height: 12vh;
    width: 12vh;
    object-fit: cover;
}

#foot3>:nth-child(2){
   margin-left: 67%;
}