@font-face {
    font-family: arizona ;
    src: url(./assets/fonts/fonnts.com-ABCArizonaFlareVariable-Trial.ttf);
}

@font-face {
    font-family: "gilroy-m" ;
    src: url(assets/fonts/Gilroy-Medium.woff2);
}

@font-face {
    font-family: "gilroy-r" ;
    src: url(assets/fonts/Gilroy-Regular.woff2);
}


@keyframes scrolling {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(calc(-90% + 16px));
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arizona;
   
}

html,body{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: white;
    overflow-x: hidden;
}


#nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    position: fixed;
    top: 0%;
    backdrop-filter: blur(8px);
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.3);
}

#nav #logo h1{
    font-size: 4vh;
    font-weight: 400;
    letter-spacing: 0 ;
}

#nav img{
    height: 8vh;
    width: auto;
    object-fit: contain;
}


#nav-2{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: gilroy-r;
}

#option1, #option2, #option3{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9vw;
    font-weight: 300;
}

#option1{
    width: 40%;
}

#option2{
    width: 10%;
    padding: 0 1%;
    font-size: 1vw;
}

#option3{
    width: 35%;
}

#option3 i{
    font-size: 1vw;
}

#nav button{
    font-size: .9vw;
    padding: 8px 14px;
    margin-left: 15px;
    border: black solid 1px;
    border-radius: 20px;
    background-color: #5c452c;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#nav button:hover{
    background-color: white;
    color: black;
}

#scroll{
    height: 6%;
    min-width: 100%;
    backdrop-filter: blur(8px);
    top: 10%;
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;

}

#scroller{
    height: 100%;
    animation-name: scrolling;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform: translateX(0);
    display: flex;
    align-items: center;  
}
#scroll h5{
    font-size: 3vh;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-right: 3rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: gilroy-m;
    font-weight: 400;

}

#main{
    min-height: 150vh;
    width: 100vw;

}

#page1{
    height: 100vh;
    width: 100vw;
    background:  url(./assets/images/hero-background.png);
    background-size: cover;
    overflow: hidden;
}

#page1 #content{
    height: 40vh;
    width: 40vw;
    position: absolute;
    top: 25%;
    left: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page1 h1{
    font-size: 5vw;
    font-weight: 400;
    color: #433224;
    top: 25%;
    left: 10%;
    width: 30vw;
    font-family: "gilroy-r";
}
#page1 p{
    font-size: 1.4vw;
    font-weight: 300;
    color: #433224;
    width: 25vw;
    line-height: 1.5vw;
    font-family: "gilroy-r";
    margin-top: 10%;
}

#page2{
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    padding-top: 20vh;
    margin-bottom: 12vh;
}

#page2 #center{
    min-height: 144vh;
    width: 90vw;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    position: relative;
    margin-left: 5vw;
    padding-bottom: 12vh;
}

#page2 #center>h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 400;
    padding-top: 4vw;
}

#page2 #center .box{
    height: 26vmax;
    width:27vmax;
    border-radius: 3px;
    overflow: hidden;
    position: relative; 
    cursor: pointer;
    display: inline-block;
    margin-left:2.35% ;
    margin-top: 4%;
}

#background{
    top: 50%;
    height: 50%;
    width: 100%;
    position: absolute;
   background: linear-gradient( transparent,rgba(0, 0, 0, 0.491), rgba(0, 0, 0, 0.947));

}

#page2 #center .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease .3s;
    
}

.box h3{
    position: absolute;
    bottom: 18%;
    margin: 0 3%;
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
    text-transform: uppercase;  
    z-index: 2;

}

.box p{
    position: absolute;
    bottom: 8%;
    margin: 0 3%;
    color: white;
    font-weight: 400;
    font-size: 1vw;
    text-transform: capitalize;  
    z-index: 2;

}

.box i{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 2vw;
    font-weight: 100;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    scale: .8;
    z-index: 2;
    transition: all ease .3s;

}

.box:hover img{

    scale: 1.09;

}


.box:hover i{

    scale: .9;

}

#page2 #center .rectangle{
    height: 40vmax;
    width: 85.5vmax;
    border-radius: 3px;
    overflow: hidden;
    position: relative; 
    cursor: pointer;
    display: inline-block;  
    margin-top: 2%;
    margin-left: 2.35%;
}


#page2 #center .rectangle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease .3s;
    
}

.rectangle h3{
    position: absolute;
    bottom: 5%;
    margin: 0 3%;
    color: white;
    font-weight: 400;
    font-size: 1.4vw;
    text-transform: uppercase;  
    z-index: 2;

}

.rectangle i{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 2vw;
    font-weight: 100;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    scale: .8;
    z-index: 2;
    transition: all ease .3s;

}

.rectangle:hover img{

    scale: 1.09;

}


.rectangle:hover i{

    scale: .9;

}

#achivements{
    height: 75vh;
    width: 90%;
    background-color: #171717;
    margin: 0 auto;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

#achivements video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    height: 150vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 7vh;
    padding-top: vh;
}

#page3 h2{
    font-size:4vh;
    font-weight: 400;
    text-transform: uppercase;
}

#page3>button{
    font-size: .8vw;
    padding: 12px 24px;
    border: black solid 1px;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#page3 button:hover{
    background-color: white;
    color: black;
}


#Gallery{
    height: 125vh;
    width: 94vw;
    /* padding-left: .66%; */
    overflow: hidden;
}

.photo h1{
    color: white;
    font-size: 4vh;
    text-transform: uppercase;
    text-align: center;
    width: 50%;

}
.photo{
    height: 50%;
    width: 33%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: -3px -2px;
    border: none;
    outline: solid rgba(255, 255, 255, 0.418) 1px;
}

.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.photo #bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease .3s;
}

.photo #bg i{
    color: white;
    font-size: 2.5vh;
}
.photo:hover #bg{
    opacity: 1;
}

#join-mail{
    height: 15vh;
    width: 100vw;
    padding: 0 5vw;
    background-color: #F1F1F1;
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#join-mail h3{
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: 500;
}

#join-mail p{
    font-size: .7vw;
    color:#797B82 ;
}

#join1,#join2{
    height: 40%;
    width: 50%;
}

#join2{
    text-align: right;
}

#join2 input{
    background: transparent;
    height: 5vh;
    width: 40%;
    border: 1px solid black;
    outline: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.6vh;
    color: black;
    font-weight: 600;
}

#join2 input::placeholder{
    font-size: 1.6vh;
    color: black;
    font-weight: 600;
}

#join2 button{
    font-size: .8vw;
    padding: 12px 24px;
    margin-left: 15px;
    border: black solid 1px;
    border-radius: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

#join2 button:hover{
    background-color: white;
    color: black;
}

#footer{
    height: 50vh;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
}

#foot1{
    height: 100%;
    width: 20%;
    padding-left: 2%;
    padding-top: 2%;
    color: white;
}
#foot1 img{
    height: 12vh;
    width: auto;
    object-fit: contain;
    filter: invert(1);
}
#foot1 h1{
    font-size: 4vh;
    font-weight: 400;
}
#foot1 #social-media{
    height: 18px;
    width: 50%;
    margin-top: 2vh;

}

#foot1 #social-media i{
    font-size: 16px;
    color: white;
}

#foot1 p{
    font-size: .8vw;
    margin-top: 4vh;
    line-height: 13px;

}

#foot1 #payments{
    height: 3vh;
    width: 100%;
    margin-top: 4vh;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

#foot1 #payments img{
    height: 80%;
    width: 15%;
    background: white;
    padding: -2px;
    object-fit: cover;
    object-position: center;
    margin-right: 2px;
    border-radius: 2px;
}

#foot2{
    height: 100%;
    width: 30%;
    color: white;
    padding-left: 3vw;
    padding-top: 3vw;
    display: flex;
}

#foot2 .hyperlink{
    height: 100%;
    width: 33%;
}

#foot2 .hyperlink h3{   
    font-size: 1.4vh;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2vh;
}


#foot2 .hyperlink h5{   
    font-size: 1.6vh;
    margin-bottom: 1vh;
}

#foot3{
    height: 100%;
    width: 35%; 
    padding-top: 3vw;
    color: white;

}

#foot3 .hyperlink h3{   
    font-size: 1.4vh;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
    width: fit-content;
    margin-bottom: 2vh;
}


#foot3 .hyperlink h5{   
    font-size: 1.6vh;
    margin-bottom: 1vh;
}

#foot3 img{
    height: 12vh;
    width: 12vh;
    object-fit: cover;
}

#foot3>:nth-child(2){
   margin-left: 67%;
}

iframe{
    height: 85%;
    margin: 2vh;
}